@media screen and (max-width:576px){
    body{
        width: 100%;
        margin: 0px auto;
        
    }

    .nav-parent ul li {
        display: none;
    }
    #bars{
        
        display: block;
    }
    .nav-parent ul{
        border: none;
    }

    
    .leftcontent h1,p {
        font-size: 2rem;
    }
    .btnpri{
        
        display: block;
    }
    
    .btnsec {
         margin-left: 0px;
         margin-top: 20px;
         
    }

    .rightcontent {
        margin-top: 500px;
        margin-left: -400px;
    }

    }





    

   
