@media screen and (max-width:576px){
    body{
        width: 100%;
        margin: 0px auto;
        
    }

    .nav-parent ul li {
        display: none;
    }
    #bars{
        
        display: block;
    }
    .nav-parent ul{
        border: none;
    }

    
    .leftcontent h1,p {
        font-size: 2rem;
    }
    .leftcontent{
        width: 100%;
    }
    
    .btnsec {
         margin-left: 0px;
         margin-top: 20px;
         margin-bottom: 15px;
    }

    .rightcontent {
        margin-top: 350px;
        margin-left: -470px;
    }
    

    .blurcard1{ margin-left:50px;
       
        width: 50%;
    }
    .blurcard2{
        
   
    margin-top: -400px;
    margin-left: 160px;
    }

    .headtxt span{
        
        font-size: 5rem;
        line-height: 50px;
       
        
    }


    .habitimg{
        display: flex;
        flex-direction: column;
    }

    .runtitle{
        text-align: center;
        align-items: center;
        

        
    }




    .run {

        flex-direction: column;
        align-items: center;

    
        width: 85%;
        margin: 0 auto;
        
        padding: 20px 30px;
        border-radius: 18px;
        background: rgb(34, 34, 34);
        margin-top: 80px;
        
    
    }

    .runimg img{
        margin-top: 10px;
        width: 100%;
        border-radius: 30px;
        margin-left: 0px;
        
    }


    .bmiContent {
    background: rgb(34, 34, 34);
    flex-direction: column;
    justify-content: center;

    gap: 10%;

}

#bmiSection{
   
    margin-bottom: 50px;
    
}

main{

   

    margin: 0 auto;
    

}


table{
    width: 80%;

    ''
}

.bmiChart{
    text-align: center;
}


.bmiCalculator{
    text-align: center;
    width: 100%;
}





.footercontainer{
    flex-direction: column;
    gap: 20px;
    text-align: center;
    
    
    
    
}




.fhead{
    width: 100%;
}



.fhead p{
    font-size: 1.5rem;
}




.meet{
    display: grid;
    grid-template-columns: repeat(1 ,1fr);
    border-radius: 18px;
    gap: 10px; 
  
    background: rgb(34, 34, 34);
    padding: 10px;
    
}


.meet img{
    
    width: 80%;
    height: 100%;
    
}


.meethead{
    }





    }


    



    

   






